.Layout{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}
.Card {
  margin: 10px;
  background-color: #fff;
  border-radius: 15px 0 15px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  width: 227px;
}
.CardImg{
  width: 100%;
  height: 168px;
  object-fit: cover;
}
.CardDescription{
  display: flex;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;

  text-align: left;
  align-items: center;
  justify-content: space-between;
}
.CardBtn{
  outline:none;
  border: none;
  background: none;
  cursor: pointer;
}
.CardTextTitle{
  font-size: 20px;
  font-weight: 600;
}
.CardTextDescripiton{
  margin: 5px 0 16px 0;
  font-size: 14px;
  line-height: 20px;
  opacity: 54%;
  color: #263238;
}
.CardStar{
  position: absolute;
  z-index: 1000;
  width:74px;
  margin-left: 190px;
  margin-top: -40px;
}
